{% extends 'base.html' %}

{% block title %}
Homepage
{% endblock %}

{% block content %}
    <div class="container mt-5 mb-5">
        <div class="row justify-content-center">
            <div class="col-md-10">
                <div class="card mt-5">
                    <div class="card-header bg-success text-light text-center">
                        <h3 class="card-title">Album List</h3>
                    </div>
                    <div class="card-body">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th scope="col">Judul</th>
                                    <th scope="col">Label</th>
                                    <th scope="col">Jumlah Lagu</th>
                                    <th scope="col">Total Durasi</th>
                                    <th scope="col">Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for album in albums %}
                                <tr>
                                    <td>{{ album.album_title }}</td>
                                    <td>{{ album.label_name }}</td>
                                    <td>{{ album.song_count }}</td>
                                    <td>{{ album.total_duration }} menit</td>
                                    <td>
                                        <a href="/merah/album-detail/{{ album.album_id }}/" class="btn btn-primary">Lihat Daftar Lagu</a>
                                        <a href="/merah/create-lagu" class="btn btn-secondary">Tambah Lagu</a>
                                        <form action="/merah/delete-album/{{ album.album_id }}" method="post" style="display: inline;">
                                            {% csrf_token %}
                                            <button type="submit" class="btn btn-danger">Hapus</button>
                                        </form>
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>                            
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container mt-3 mb-3">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="text-center">
                    <a href="/merah/create-album" class="btn btn-success btn-lg">Buat Album</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
