{% extends 'base.html' %}

{% block title %}
Dashboard
{% endblock %}

{% block content %}
<div class="container mt-5 mb-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card mt-5">
                <div class="card-header bg-success text-light text-center">
                    <h3 class="card-title">Dashboard</h3>
                </div>
                <div class="card-body">
                    <h5 class="card-title">Profile</h5>
                    <p><strong>Name:</strong> User's Name</p>
                    <p><strong>Email:</strong> user@example.com</p>
                    <!-- Add these fields for Labels -->
                    <p><strong>Contact:</strong> User's Contact</p>
                    <!-- Add these fields for Users -->
                    <!-- <p><strong>City of Origin:</strong> User's City of Origin</p>
                    <p><strong>Gender:</strong> User's Gender</p>
                    <p><strong>Place of Birth:</strong> User's Place of Birth</p>
                    <p><strong>Date of Birth:</strong> User's Date of Birth</p>
                    <p><strong>Role:</strong> User's Role</p>
              -->
                    <!-- Add these sections based on the user's role -->
                    <!-- <h5 class="card-title">Playlists</h5>
                    <p>Belum Memiliki Playlist</p> -->
            
                    <!-- <h5 class="card-title">Songs</h5>
                    <p>Belum Memiliki Lagu</p> -->
            
                    <!-- <h5 class="card-title">Podcasts</h5>
                    <p>Belum Memiliki Podcast</p> -->
            
                    <h5 class="card-title">Albums</h5>
                    <p>Belum Memproduksi Album</p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
